<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="SqlConnection" 
         connectionString="Server=JAGER-KREUTZ;Database=pr17;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>